<app-welcome-bar />
<div style="height: 100%; width: 100%">
  <div
    class="col-12 d-flex justify-content-between align-items-center"
    style="padding: 0px 25px 10px 25px"
  >
  </div>

  @if (taskToShow.length != 0) {
    <div
      style="
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 0px 20px;
        height: 70%;
      "
    >
      <div>
        <div style="border-radius: 20px; height: 60vh !important; top: 10px">
          <div style="display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0px 0px 20px;">
            <img
              loading="eager"
              src="assets/home-page-icons/tasks-icon.png"
              alt="option"
              style="    float: inline-start;
              width: 40px;
              padding-right: 10px;"
            />
            <h4
              style="
                color: black !important;
                font-size: 18px !important;
                margin: 0 auto;
                text-align: left !important;
              "
            >
              Listado de tareas
            </h4>
            <img
              loading="eager"
              src="assets/home-page-icons/add.png"
              alt="option"
              style="    float: inline-end;
              width: 40px;
              padding-right: 10px;"
            />
          </div>

          @if (isLoading) {
            <ion-content scrollY="true" style="height: 90%; top: 5px">
              @for (item of [].constructor(5); track item) {
                  <ion-card class="card_task">
                    <ion-thumbnail>
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-thumbnail>
                    <br />
                    <p>
                      <ion-skeleton-text
                        [animated]="true"
                        style="width: 60%"
                      ></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text
                        [animated]="true"
                        style="width: 30%"
                      ></ion-skeleton-text>
                    </p>
                  </ion-card>
              }
            </ion-content>
          } @else {
            <ion-content scrollY="true" style="height: 90%; top: 5px">
                @for (
                  task of taskToShow;
                  track task;
                  let i = $index
                ) {
                    <ion-card class="card_task">
                      <div>
                        <p
                          style="
                            color: black !important;
                            font-size: 0.8rem !important;
                            text-align: left;
                          "
                        >
                          {{ task.title }}
                        </p>
                      </div>
                      <p style="margin-bottom: 5px !important">
                        <span
                          style="
                            font-size: 0.6rem !important;
                          "
                          >¿Tarea completa? 
                          <ion-icon
                            [name]="task.completed ? 'checkmark-circle-outline' : 'close-circle-outline'"
                            [style.color]="task.completed ? 'green' : 'red'"
                            style="font-size: 0.7rem;">
                          </ion-icon>

                        </span>
                      </p>
                      <p>
                        <span
                          style="
                            font-size: 0.6rem !important;
                          "
                          >Categoría:
                        </span>
                        {{ task.category }}
                      </p>
                    </ion-card>
                }
            </ion-content>
          }
        </div>
      </div>
    </div>
    }  
</div>
